.auth-page {
    display: flex;
    flex-direction: column; /* mobile : image en haut, formulaire en bas */
    min-height: 100vh;
}

.auth-image {
    width: 100%;
    height: 40vh; /* mobile : image visible en bandeau */
    background-size: cover;
    background-position: center;
}

.auth-form {
    flex: 1;
    background: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-form h1 {
    margin-bottom: 2rem;
}

.errors {
    color: red;
    list-style: none;
    padding: 0;
}

.auth-form label {
    display: block;
    margin-top: 1rem;
}

.auth-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
}

.auth-form button {
    margin-top: 1.5rem;
    padding: 0.7rem;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.back-home-btn {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}

/* Desktop */
@media (min-width: 769px) {
    .auth-page {
        flex-direction: row; /* desktop : image + formulaire côte à côte */
    }

    .auth-image {
        flex: 1.3;
        height: auto; /* hauteur s'adapte */
    }

    .auth-form {
        flex: 1;
        padding: 3rem;
    }
}
